#subnav1.header-subnav
  .main
    .subnav-item
      = link_to t('navigation.home.sub.hot_dishes'), '#'
    = '::::'
    .subnav-item
      = link_to t('navigation.home.sub.hot_restaurants'), '#'
#subnav2.header-subnav
  .main
    .subnav-item
      = link_to t('navigation.home.sub.browse_restaurants'), '#'
    = '::::'
    .subnav-item
      = link_to t('navigation.home.sub.search_restaurants'), '#'
    = '::::'
    .subnav-item
      = link_to t('navigation.home.sub.my_restaurants'), '#'
    = '::::'
    .subnav-item
      = link_to t('navigation.home.sub.create_restaurant'), '#'
#subnav3.header-subnav
  .main
    .subnav-item
      = link_to t('navigation.home.sub.browse_dishes'), '#'
    = '::::'
    .subnav-item
      = link_to t('navigation.home.sub.search_dishes'), '#'