#header
  .main
    = link_to root_path do
      #logo
        VietMenu
    #header-nav
      .header-nav-item.has-subnav{ 'data-subnav' => '#subnav1' }
        %i.icon-star.icon-large
        = link_to t('navigation.home.hot'), '#'
      .header-nav-item.has-subnav{ 'data-subnav' => '#subnav2' }
        %i.icon-map-marker.icon-large
        = link_to t('navigation.home.restaurants'), '#'
      .header-nav-item.has-subnav{ 'data-subnav' => '#subnav3' }
        %i.icon-list-alt.icon-large
        = link_to t('navigation.home.dishes'), '#'
      .header-nav-item.has-subnav{ 'data-subnav' => '#subnav4' }
        %i.icon-user.icon-large
        = link_to account_menu, '#'
      .header-nav-item= link_to t('navigation.home.about'), '#'
    .clearfix
  = render partial: 'layouts/header_subnav'