#header
  .main
    = link_to root_path do
      #logo
        VietMenu
    #header-nav
      .header-nav-item= link_to t('navigation.home.hot'), '#'
      .header-nav-item= link_to t('navigation.home.restaurants'), '#'
      .header-nav-item= link_to t('navigation.home.dishes'), '#'
      .header-nav-item= link_to t('navigation.home.about'), '#'
      .header-nav-item.dropdown
        = link_to account_menu, '#', id: 'header-account-menu', class: 'dropdown-toggle', 'data-toggle' => "dropdown"
        %b.caret
        %ul.dropdown-menu{"aria-labelledby" => "header-account-menu", role: "menu"}
          - if user_signed_in?
            %li= link_to t('navigation.home.my_account'), '#'
            %li= link_to t('navigation.home.logout'), destroy_user_session_path
          - else
            %li= link_to t('navigation.home.register'), new_user_registration_path
            %li= link_to t('navigation.home.login'), new_user_session_path